service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to Activities, Tasks, and Events for all users
    match /Activities/{activity_id} {
      allow read: if true;
      allow write: if request.auth != null; // Only logged-in users can write
    }
    match /Tasks/{taks_id} {
      allow read: if true;
      allow write: if request.auth != null; // Only logged-in users can write
    }
    match /Events/{event_id} {
      allow read: if true;
      allow write: if request.auth != null; // Only logged-in users can write
    }

    // Allow read access to Volunteers, Messages, and Submissions for all users
    match /Volunteers/{volunteer_id} {
      allow read, write: if true;
    }
    match /Messages/{message_id} {
      allow read, write: if true;
    }
    match /Submissions/{submission_id} {
      allow read, write: if true;
    }
  }
}

